/* Frame 1707485647 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 34px;

position: absolute;
width: 375px;
height: 558px;
left: 0px;
top: 0px;



/* Frame 1707485646 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 375px;
height: 100px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 스테이터스바 */

width: 375px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Group 3 */

position: absolute;
width: 339.33px;
height: 20px;
left: 18px;
top: 12px;



/* Right Side */

position: absolute;
width: 66.66px;
height: 11.34px;
left: 290.67px;
top: 16.33px;



/* Battery */

position: absolute;
left: 88.8%;
right: 4.71%;
top: 37.13%;
bottom: 37.12%;



/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 22px;
height: 11.33px;
right: 20px;
top: 16.34px;

mix-blend-mode: normal;
opacity: 0.35;
border: 1px solid #000000;
border-radius: 2.66667px;


/* Combined Shape */

position: absolute;
width: 1.33px;
height: 4px;
right: 17.67px;
top: 20px;

background: #000000;
mix-blend-mode: normal;
opacity: 0.4;


/* Rectangle */

position: absolute;
width: 18px;
height: 7.33px;
right: 22px;
top: 18.34px;

background: #000000;
border-radius: 1.1px;


/* Wifi */

position: absolute;
width: 15.27px;
height: 10.97px;
right: 47.03px;
top: 16.33px;

background: #000000;


/* Mobile Signal */

position: absolute;
width: 17px;
height: 10.67px;
right: 67.33px;
top: 16.67px;

background: #000000;


/* 9:41 */

position: absolute;
width: 54px;
height: 20px;
left: 18px;
top: 12px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */
text-align: center;
letter-spacing: -0.5px;

color: #000000;



/* Frame 1707485635 */

width: 375px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 1707485636 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 109px;
height: 26px;
left: 20px;
top: 15px;



/* Frame 1707484990 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;

transform: rotate(180deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 66 */

width: 8px;
height: 16px;

border: 1.5px solid #111111;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 프로필 홈 */

width: 77px;
height: 26px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.025em;

color: #111111;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1707485637 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 32px;
gap: 24px;

width: 375px;
height: 110px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 30 */

width: 110px;
height: 110px;

background: #C4C4C4;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 19.44%;
right: 19.45%;
top: 19.44%;
bottom: 6.94%;

background: #FFFFFF;


/* 신세휘(1) */

position: absolute;
width: 110px;
height: 110px;
left: 0.5px;
top: 0px;

background: url(신세휘(1).png);


/* Frame 31 */

box-sizing: border-box;

position: absolute;
height: 36.67px;
left: 66.82%;
right: -0.15%;
top: 73px;

background: #F1F1F5;
border: 1px solid #FFFFFF;
border-radius: 100px;


/* Camera */

position: absolute;
width: 19px;
height: 19px;
left: calc(50% - 19px/2 + 0.17px);
top: calc(50% - 19px/2 + 0.17px);



/* Path */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 12.5%;
bottom: 12.5%;

background: #C4C4C4;


/* Frame 1707485645 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 32px;
gap: 16px;

width: 375px;
height: 280px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 1707485642 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px;
gap: 1px;

width: 311px;
height: 58px;

background: #F0F0FE;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1707485639 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 16px;
gap: 10px;

width: 105px;
height: 50px;

background: #FAFAFA;
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.06);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 닉네임 */

width: 58px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.025em;

color: #4F46E5;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1707485641 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 16px;
gap: 10px;

width: 197px;
height: 50px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 미미미미미 */

width: 90px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.025em;

color: #111111;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1707485645 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px;
gap: 1px;

width: 311px;
height: 58px;

background: #F0F0FE;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1707485639 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 16px;
gap: 10px;

width: 105px;
height: 50px;

background: #FFFFFF;
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.06);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 성별 */

width: 58px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.025em;

color: #4F46E5;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1707485641 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 16px;
gap: 10px;

width: 197px;
height: 50px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 남성 */

width: 90px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.025em;

color: #111111;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1707485646 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px;
gap: 1px;

width: 311px;
height: 58px;

background: #F0F0FE;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 1707485639 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 16px;
gap: 10px;

width: 105px;
height: 50px;

background: #FFFFFF;
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.06);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 나이 */

width: 58px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.025em;

color: #4F46E5;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1707485641 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 16px;
gap: 10px;

width: 197px;
height: 50px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 68 */

width: 90px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.025em;

color: #111111;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1707485647 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px;
gap: 1px;

width: 311px;
height: 58px;

background: #F0F0FE;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 1707485639 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 16px;
gap: 10px;

width: 105px;
height: 50px;

background: #FFFFFF;
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.06);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* MBTI */

width: 58px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.025em;

color: #4F46E5;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1707485641 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 16px;
gap: 10px;

width: 197px;
height: 50px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* ENFP */

width: 90px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.025em;

color: #111111;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1707485650 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 375px;
height: 34px;
left: 0px;
bottom: 0px;



/* 🧰/Home Indicator (iPhone) */

width: 375px;
height: 34px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Home Indicator */

position: absolute;
width: 134px;
height: 5px;
left: calc(50% - 134px/2 + 0.5px);
bottom: 8px;

/* System Colours/Default Colors/SystemWhite&Black/Dark */
background: #000000;
border-radius: 100px;


/* Frame 1707485649 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 20px;
gap: 10px;

position: absolute;
width: 375px;
height: 78px;
left: 0px;
top: 700px;



/* Frame 1707485648 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 10px;

width: 335px;
height: 54px;

background: #4F46E5;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 프로필 편집 */

width: 76px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
letter-spacing: -0.025em;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
